@model Garage3.Models.ViewModels.MemberShowViewModel

@{
    ViewData["Title"] = "Member Details";
}

<h1>Member Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfVehicles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfVehicles)
        </dd>
    </dl>

    @{
        if (Model.Vehicles.Count() > 0)
        {

            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().RegistrationNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().Make)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().Model)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().Color)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Vehicles.First().NumberOfWheels)
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model.Vehicles)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => v.RegistrationNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.Make)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.NumberOfWheels)
                            </td>
                            <td>
                                <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@v.Id">Check out</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
