@model SearchFilterSortViewModel// IEnumerable<Garage3.Models.ViewModels.MemberShowViewModel>

@{
    ViewData["Title"] = "MemberOverview";
}

    <h1>Members</h1>



    <p>
        <a asp-action="MemberCreate">Create New Member</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                @Html.DisplayNameFor(model => model.SearchFilterSortMembers.First().PersonNo)
                </th>
                <th>
                    <a asp-action="Sorting" asp-route-sortOrder="@Model.NameSortParam"> @Html.DisplayNameFor(model => model.SearchFilterSortMembers.First().FirstName)</a>
                </th>

                <th>
                @Html.DisplayNameFor(model => model.SearchFilterSortMembers.First().LastName)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.SearchFilterSortMembers.First().NoOfVehicles)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.SearchFilterSortMembers)
        {
                <tr>


                    <td>
                    @Html.DisplayFor(modelItem => item.PersonNo)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.NoOfVehicles)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    </td>
                </tr>
        }

        </tbody>
    </table>
