@model Garage3.Models.ViewModels.MemberShowViewModel

@{
    ViewData["Title"] = "Member Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonNo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfVehicles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfVehicles)
        </dd>


    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="MembersOverview">Back to List</a>
</div>
