@model ReceiptViewModel

<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="~/css/print-styling.css" media="print" />
    <script>
        function printReceipt() {
            window.print();
        }
    </script>
</head>
<body>

<h1>Receipt</h1>

<div>
    <h4>Parked Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeParked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeParked)
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price kr
        </dd>
    </dl>
    <h6>Thank you for parking in our garage, welcome back anytime!</h6>
    <button onclick="printReceipt()" class="btn btn-primary">Print Receipt</button>
</div>
</body>
</html>
